@model EcommerceWebsite.Models.Category

@{
    ViewData["Title"] = " Xác nhận xóa danh mục " + Model.CatName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">Danh sách sản phẩm</a>
            <span class="breadcrumb-item active">Thông tin page : @Model.CatName</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="page-header no-gutters has-tab">
            <div class="d-md-flex m-b-15 align-items-center justify-content-between">
                <div class="media align-items-center m-b-15">
                    <div class="avatar avatar-image rounded" style="height:70px; width:70px">
                        <img src="~/images/categories/@Model.Thumb" alt="@Model.Title" />
                    </div>
                    <div class="m-l-15">
                        <h4 class="m-b-0">@Model.CatName</h4>
                        <p class="text-muted m-b-0">ID: #@Model.CatId</p>
                    </div>
                </div>
                <div class="m-b-15">
                    <a class="btn btn-primary" asp-route-id="@Model.CatId" asp-area="Admin" asp-controller="AdminPages" asp-action="Edit">Sửa</a>

                </div>
            </div>

        </div>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.CatId</td>
                    </tr>
                    <tr>
                        <td>Tên danh mục:</td>
                        <td>@Model.CatName</td>
                    </tr>
                    <tr>
                        <td>Ordering:</td>
                        <td>@Model.Ordering</td>
                    </tr>
                    <tr>
                        <td>Title:</td>
                        <td>@Model.Title</td>
                    </tr>
                    <tr>
                        <td>Mô tả:</td>
                        <td>@Html.Raw(Model.Description)</td>
                    </tr>
                    <tr>
                        <td>Meta Key:</td>
                        <td>@Model.MetaKey</td>
                    </tr>
                    <tr>
                        <td>Alias:</td>
                        <td>@Model.Alias</td>
                    </tr>
                    <tr>
                        <td>MetaDesc:</td>
                        <td>@Model.MetaDesc</td>
                    </tr>
                    <tr>
                        <td>Ảnh đại diện:</td>
                        <td>
                            <img width="200" height="200" src="~/images/categories/@Model.Thumb" alt="@Model.Title" />
                        </td>
                    </tr>
                    <tr>
                        <td>Published:</td>
                        <td>
                            @if (Model.Published == true)
                            {
                                <div class="switch m-r-10">
                                    <input name="Published" disabled="" type="checkbox" checked="" />
                                    <label for="Published"></label>
                                </div>
                            }
                            else
                            {
                                <div class="switch m-r-10">
                                    <input name="Published" disabled="" type="checkbox" />
                                    <label for="Published"></label>
                                </div>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
            <form asp-action="Delete" asp-route-id="@Model.CatId">
                <input type="hidden" asp-for="CatId" />
                <input type="submit" value="Xác nhận xóa danh mục" class="btn btn-danger" /> |
                <a asp-action="Index">Quay lại</a>
            </form>
        </div>


    </div>
</div>


